
button, h1
{
    margin-left: 15px;
}

.grid-container
{
    margin-left: 5px;
    margin-top: 15px;
}

.cell-number
{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -24px;
    margin-top: -24px;


    z-index: 100;
    opacity: 0.7;
}

.number-circle {
    /*  http://stackoverflow.com/questions/4861224/how-to-use-css-to-surround-a-number-with-a-circle */
    border-radius: 50%;
    width: 48px;
    height: 48px;
    padding: 4px;
    background: #fff;
    /*border: 2px solid orange;
    color: orange; */
    border: 2px solid #FF7F0E;
    color: #FF7F0E;
    text-align: center;
    font: 32px Arial, sans-serif;
}

#dialog-form
{
    min-height: 220px !important;   /* Getting overridden somehow by jqui*/
}

#dialog-form > ul
{
    list-style:none;
}

#dialog-form > ul > li > div
{
    display:inline-block;
    margin-bottom: 10px;
    width: 90px;
}

.hover-vis
{
    display: none;
    z-index: 100;
}


.delete-can
{
    position: absolute;
    left: 0;
    top: 0;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.delete-can > img
{
    max-height: 100%;
    max-width: 100%;
}

